.header-container {
   display: flex;
   flex: 1
}
.header-container .first-container{
  flex: 1 0 15%
}

.header-container .second-container{
    flex: 1 0 65%
}

.header-container .third-container{
    flex: 1 0 20%
}